{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    
}

.half {
    max-width: 50%;
}

.spacer {
    height: 10em;
}

/* media container */
.media-container{
    height: 71em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    background: url(../images/placeholder-wide.png);
    background-size: 160em auto;
    background-repeat: no-repeat;
    background-position: center top -10em;
}


.container {
    
}

.mycontainer {
    max-width: 1580px;
    margin: auto;
}


.my-text {
    font-size: 1.2em;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

h1 {
    margin-bottom: 0.6em!important;
    text-align: left;
    padding-left: 20px;
}

h2 {
    font-size: 1.6em!important;
    margin-bottom: 0.6em!important;
}

.padding {
    padding-left: 20px;
}

.blue-text {
    color: rgb(41, 189, 255);
    font-size: 2em;
    font-weight: bold;
}

.fixed-ban{
    background: url(../images/1x1-4000x/closeup-blue.jpg);
    height: 70em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-size: 160em auto;
    background-repeat: no-repeat;
    background-position: center top -10em;
}
.fixed-ban-vid{
    background-color: rgba(0, 0, 0, 0.51);
    backdrop-filter: blur(4px)!important;
    text-align: center;
    overflow-y: hidden;
    height: 650px!important;
}
.bg-video{
    position: relative;
    bottom: 180%;
    width: 100%;
}
.fixed-ban div{
    padding-top: 8%;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.88));
}
.menu-bar {
    background-color: RGBA(16, 16, 16, 0.87);
    backdrop-filter: blur(5px)!important;
}
.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}
#navbarNav {
    /*height: 4.3em*/
}

.li-underline {
    height: 0.3em;
    width: 7em;
    margin-left: auto;
    margin-right: auto;
}

.vis-unerline {
    height: 0.3em;
    transition: 0.2s;
    background-color: rgb(41, 189, 255);
    animation-timing-function: ease-out;
    transform: scale(10%);
    opacity: 0;
}

.nav-link:hover + div div {
    opacity: 100;
    transform: scale(100%)
}

.nav-link {
    font-size: 20px;
    margin-left: 1.5em;
    margin-right: 1.5em;
    color: white!important;
    font-weight: 400;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-item {
    height: 4.314em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between
}

.navbar-toggler-icon {
    filter: invert()
}
.navbar-nav {
    margin: auto;
}
.menu-bar .navbar-toggler {
    padding-right: 20px;
    outline: none!important;
    border: none!important;
}
.navbar .fa {
    color: black!important;
    font-size: 26px;
}
.nav-link:hover {
    color: #cccccc!important
}
.navbar-brand img {
    height: 2.5em;
    margin-left: 20px;
}
@media only screen and (max-width: 1000px){
    .nav-link:hover{
        border-bottom: none!important;
    }
    .fixed-ban{
        height: 33em;
        background-size: 35em auto!important;
        background-repeat: no-repeat;
        background-position: top;
    }
    .fixed-ban div{
        padding-top: 20%;
    }
    .bg-video {
        width: 100%!important;
        height: auto;
        position: relative;
        top: -10%;
    }
    #hiddenlogo{
        display: none;
    }
    .collapse {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .nav-link {
        text-align: center;
    }
    .navbar-nav {
        margin-top: 2em;
        margin-bottom: 1em!important;
    }
    .media-container {
        height: 33em;
        background-size: 35em auto!important;
        background: url(../images/placeholder-portrait.png);
        background-repeat: no-repeat;
        background-position: top;
    }
    .my-text {
        padding-left: 1em;
        padding-right: 1em;
    }
    .card-picture {
        width: auto!important;
    }

    .card-picture img {
        max-width: 100%!important;
        transition: 0.3s;
    }
    .card-item {
        text-align: center;
        margin-bottom: 3em!important;
    }
    .spacer {
        height: 5em;
    }
    .cards-container {
        
    }
    .half {
        max-width: inherit;
    }
    .e2pack-container {
        justify-content: center;
    }
    .e2pack-item img{
        max-width: 100%!important;
        height: auto!important;
        margin-bottom: 0em;
        margin-top: 0em;
    }
    .e2pack-item {
        margin-top: 2em!important;
        margin-bottom: 2em!important;
    }
    .li-underline {
        background-color: rgba(255, 0, 0, 0)!important;
    }
}
body{
    /*background-image: linear-gradient(-90deg, #8B4E90, #EA488C)*/
    /*background-image: linear-gradient(-90deg, #041329, #2d33c3, #041329)*/
    background-color: #080808!important;
}
.whitebg{
    background-color: RGBA(255, 250, 250, 0.86);
    border-radius: 5px;
}
.whitebg h2{
    text-align: left;
}
.whitebg a{
    color: #0e4fff;
}
.snowtext{
    color: snow!important;
}
.boldsnowtext{
    color: snow!important;
    font-weight: 600;
}
hr{
    border-top: 1px solid snow!important;
    width: 95%;
}
footer{
    color: snow;
}
.pics{
    border-radius: 5px;
}
.btn-light{
    font-weight: 500!important;
}
.himg:hover{
    
    width: 1000px!important;
}
.footer-link{
    color: whitesmoke
}
.footer-link:hover{
    color: darkgray;
    font-weight: 500;
    text-decoration: none;
}
.custom_link{
    color: #EA488C
}
.custom_link:hover{
    color: #8B4E90;
    font-weight: 500;
    text-decoration: none;
    color:white
}
.custom_img:hover{
    color: black!important;
}
.effect_button_dark{
    border: none!important;
    border-radius: 1000px!important;
    background-image: linear-gradient(-90deg, #111111, #4B4B4B);
    box-shadow: 10px 0px 10px #171717 inset, -10px 0px 10px #494949 inset;
}
.effect_button_light{
    border: none!important;
    border-radius: 1000px!important;
    background-image: linear-gradient(-90deg, lightgrey, snow);
    box-shadow: 7px 0px 10px grey inset, -10px 0px 10px whitesmoke inset;
}
.effect_button_dark:hover{
    border: none!important;
    border-radius: 1000px!important;
    background-image: linear-gradient(-90deg, lightgrey, snow);
    box-shadow: 10px 0px 10px grey inset, -10px 0px 10px whitesmoke inset;
    color: #111111!important;
    font-weight: 600!important;
}
.effect_button_light:hover{
    border: none!important;
    border-radius: 1000px!important;
    background-image: linear-gradient(-90deg, #111111, #4B4B4B);
    box-shadow: 10px 0px 10px #171717 inset, -10px 0px 10px #494949 inset;
    color: whitesmoke!important;
    font-weight: 600;
}
.white-logo{
    text-align: center;
    padding: 20px;
}
.white-logo img{
    height: 200px;
}
.socialmedia-container{
    text-align: center;
}
.media-icon{
    padding: 30px!important;
}
.media-icon img{
    width: 100px
}
.media-icon:hover {
    transform: scale(1.2)
}
.scroll-logo{
    height: 600px;
    background-image: url(../images/bedfast_logo_ver_white.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-attachment: fixed;
}

/* scroll to top button */
#mio {
  display: none;/* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #ebebeb; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 3px; /* Some padding */
  border-radius: 40px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#mio img{
    width: 40px;
}
#mio:hover {
    border-style: solid;
    border-width: 2px;
    border-color: whitesmoke;
    box-shadow: 0px 0px 24px rgba(180, 232, 255, 0.96);
}



/*cards stuff */
.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 4em;
    margin-bottom: 4em;
}

.card-item {
    margin: 1em;
}

.card-item p {
    color: dimgrey;
}

.card-picture {
    margin-bottom: .8em;
}

.card-picture img {
    max-height: 25em;
    transition: 0.3s;
}

.card-picture img:hover {
    cursor: pointer;
    filter: brightness(50%) blur(3px);
}

.card-picture a:hover + p {
    visibility: visible;
}

.floating-p{
    position: absolute;
    font-size: 2.7em;
    margin-top: -5.2em;
    margin-left: 2.8em;
    pointer-events: none;
    visibility: hidden;
    color: whitesmoke!important;
}

.e2pack-container {
    max-width: 1580px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.e2pack-item {
    margin-top: 3em;
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
}

.e2pack-item img{
    height: 48em;
}

.e2-text {
    width: 35em;
    margin: 0;
    
}
.e2photo {
    margin: 0;
}
.e2photo img {
    height: 64em;
}




































